.cuntactUsForm{
    display: flex;
    flex-direction: column;
}

.cuntactUsForm>input{
    width: 100%;
    height: 40px;
    background-color: #edf1f2;
    color: var(--color-gray);
    font-family: OpenSans-Regular;
    font-size: 16px;
    padding-left: 13px;
    border: none;
    margin-top: 10px;
}

.cuntactUsForm>textarea{
    width: 100%;
    height: 220px;
    background-color: #edf1f2;
    color: var(--color-gray);
    font-family: OpenSans-Regular;
    font-size: 16px;
    padding-left: 13px;
    padding-top: 10px;
    border: none;
    margin-top: 10px;
    resize: none;
}

.cuntactUsForm>input[type=submit]{
    color: white;
    background-color: #2980b9;
    width: 50%;
    cursor: pointer;
    transition: all .4s ease-in-out;
    padding-left: 0px;
}

.cuntactUsForm>input[type=submit]:hover{
    color: white;
    background-color: #337bac;
    box-shadow: inset 0px 0px 4px #33729c;
    /* width: 50%; */
    /* cursor: pointer; */
}

.cuntactUsForm>input[type=submit]:disabled 
 {
    color: rgb(144, 144, 144);
    background-color: #d4d4d4;

    cursor: auto;
}
