.contactUsInner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.contactUsInner>div>h3{
    color: black;
    font-family: OpenSans-Regular;
    font-size: 16px;
}

.contactUsInner>div>p{
    margin-top: 20px;
    color: var(--color-gray);
    font-family: OpenSans-Regular;
    font-size: 14px;
}

.googleMap{
    margin-top: 20px;
}

@media (max-width: 1320px)  { 
    .contactUsInner{
        display: flex;
        align-items: center;
        justify-content: center;
        /* grid-template-columns: repeat(2, 1fr); */
        /* gap: 40px; */
        flex-direction: column;
    }

    .contactUsInner>div{
        max-width: 420px;
    }

    .contactUsInner>div:nth-child(2){
        text-align: end;
    }
}